@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.questao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
    width: 50%;
    text-align: justify;
}

.recursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.nome-container, .sobrenome-container, .email-container {
    display: flex;
    flex-direction: column;
}

.resposta {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
